.headerflex{
    display: flex;
    justify-content: space-between;
    background-color: #9EAF7C;
}
.header_logo{
    margin:22px
  }
.header_button {
    background: none;
    border: none;
}
main{
    background: whitesmoke;
}
.map{
    margin-top: 400px;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.map-img {
    object-fit: cover;
    object-position: -310px 0px;
    width: 722px;
}

.map-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.map-front, .map-back{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}
.map-front {
    transform: perspective(600px) rotateY(0deg);
}

.map-back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #fff;
}
.back-content {
    width: 100%;
    text-align: center;
    color: #333333;
}
.map:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.map:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}
.cloud1,
.cloud2,
.cloud3{
    height: 400px;
}
.mar{
    display: flex;
    animation: marAnimation 10s linear infinite;
}
@keyframes marqueeAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}





