.headerflex {
    background-color: #9EAF7C;
}
.header_button{
    border: none;
}
.grid{
    display: grid;
    grid-template-columns: 500px 1500px 1100px 1500px 100px;
    grid-template-rows: 300px 201px 250px 350px 300px;
    width: max-content;
    gap: 40px;
}
.item1{
    background-color: blueviolet;
    grid-row: 1/6;
    grid-column: 1;
}
.img1{
    max-width: 500px;
    height: 1561px;
}
.img2{
    width: 4320px;
    height: 541px;
}
.img3{
    width: 1500px;
    height: 640px;
}
.img4{
width: 1100px;
height: 640px;
}
.img5{
    width: 1500px;
    height: 640px;
}
.img6{width: 2780px;height: 300px;}
.img7{width: 1500px; height: 300px;}
.item2{
    background-color: blue;
    grid-row: 1/3;
    grid-column: 2/6;
}
.item3{
    background-color: yellow;
    grid-row: 3/5;
    grid-column: 4;
}
.item4{
    background-color: black;
    grid-row: 3/5;
}
.item5{
    background-color: red;
    grid-row: 3/5;
    grid-column: 2;
}
.item6{
    background-color: green;
    grid-row: 5/6;
    grid-column: 3/6;
}
.item7{
    background-color: brown;
    grid-row: 5/6;}

    .parent {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
      :root {
        --coral: hsl(300, 100%, 93%);
        --coral--b: hsl(280, 100%, 70%);
       }
       
      .box {
        font-size: 2rem;
        padding: 1rem;
        display: grid;
        place-items: center;
        border-radius: 1rem;
        border-style: dashed;
        background-color: var(--coral);
        border: 1px solid var(--coral--b);
      }