.button_finger, .like, .dislike{
    padding: 2.5rem;
    margin: 4px;
   border: 0;
   border-radius: 2.5rem;
   font-size: 2.5rem;
   cursor: pointer;
    background-color: red;
}
.button_finger.active, .like.active, .dislike.active{
    background-color: green;
}
button{
    background: none;
}
.second{
    display: flex;
    gap: 40px;
}
.filter{
    display: flex;
    gap: 5px;
}
.card_container{
    display: flex;
    justify-content: center;
}
.button_card{
    font-family: "Inter";
    background-color: #6c7754;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    width: 400px;
    border: none;
}
.button_filter{
    font-family: "Inter";
    background-color: #6c7754;
    margin: 20px 0px;
    padding: 24px 75px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    width: 400px;
    border: none;
}
.ascending, .descending, .reset{
    font-family: "Inter";
    background-color: #6c7754;
    margin: 20px 0px;
    padding: 24px 75px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    width: 400px;
    border: none;
}
.block{
    width: 400px;
    height: 175px;
    border: 6.5px solid green;
    border-radius: 3px;
    margin: 10px;
}
.card_text{
    font-size: 1.4rem;
}
.card_title{
    font-size: 4.6rem;
}
.cart{
    position: relative;
    display: inline-block;

}
.cart-element{
    position: absolute;
    top: 67px;
    right: 47px;
    padding: 8px;
    font-size: 2.1rem;
}