@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --first-color: #212121;
    --second-color: #9EAF7C;
    --third-color: #fff;
    --fourth-color: #F3F1EC;
    --fifth-color: #C3BEBE;
}
ul{
    list-style: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
h1{
    display: none;

}
main{
    background-color: var(--fourth-color);
}
.start-page {
    background-image: url(../img/background1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background1.png);
}
.header_logo{
  margin:22px
}

.header_button {
    background: none;
    border: none;
}
.start-page_text {
    font-family: "Inter";
    color: var(--third-color);
    font-size: 3.4rem;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
}
.start-page_list{
    display: flex;
    justify-content: start;
}
.link
{
    display: block;
    font-family: "Inter";
    background-color: #9EAF7C;
    margin: 20px 45px;
    padding: 24px 75px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--third-color);
    font-size: 1.6rem;
    width: 300px;
    border: none;
}
.order_button {
    font-family: "Inter";
    background-color: #9EAF7C;
    margin: 20px 0px;
    padding: 24px 75px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--third-color);
    font-size: 1.6rem;
    width: 300px;
    border: none;
}
.order_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.start-page_desc {
    color: var(--third-color);
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 40px;
    padding:20px;
    
}

.start-page_icon {
    background-color: #9EAF7C;
    border-radius: 50%;
    padding: 13px;
    width: 60px;
    height:60px;
}

.about-company_title {
    font-size: 4rem;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Philosopher';
    font-style: italic;
    margin:10px;
}

.about-company_icon {
    margin: 0px 45px;
    border-radius: 20px;
}
.about-company_subtitle {
    color: var(--second-color);
    font-family: "Philosopher";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.big{
    font-size: 7rem;
}
.small{
    font-size: 3rem;
}

.about-article_title {
    font-family: "Philosopher";
    font-size: 3.8rem;
    position:relative;
    left:25px;
    margin: 5px 10px;
    text-align: left;
}
.about-company_text {
    font-family: "Inter";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.about-company_list{
    text-align: center;
}
.about-article_subtitle {
    font-family: "Philosopher";
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 15px;
    position: relative;
}

.about-article_text {
    font-family: "Inter";
    font-size: 1.6rem;
    width: 229px;
}
.about-article_list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
}
.about-article_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 20px;
    border: 1px solid #C3BEBE;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
    margin:20px;
    padding:10px 0px 0px 10px;
    min-height: 180px;
}

.about-catalog__title {
    font-family: "Philosopher";
    font-size: 3rem;
    margin: 39px 43px;
}

.about-catalog__icon {
    border-radius: 20px;
}

.about-catalog_text {
    font-family: "Philosopher";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
    
}
.order{
    background-image: url(../img/background2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_title {
    color: var(--third-color);
    font-family: "Inter";
    font-weight: 400;
    font-size: 3.2rem;
    letter-spacing: -1.92px;
    margin-bottom: 23px;
    max-width: 309px;
}

.order_text {
    color: var(--third-color);
    font-family: "Inter";
    font-size: 2.4rem;
    letter-spacing: -1.44px;
    margin-bottom: 8px;
    max-width: 309px;
}
.order_text_small{
    font-family: "Philosopher";
    color: var(--third-color);
    margin-bottom: 50px;
    font-size:3.2rem ;
    max-width: 309px;
}
.order_input{
    font-family: "Inter";
    width: 300px;
    font-size: 1.4rem;
    margin-bottom:20px;
    border-radius: 60px;
    border: none;
    padding: 20px;
}
.order_input_big{
    font-size: 1.4rem;
    width: 300px;
    font-family: "Inter";
    margin-bottom: 15px;
    border-radius: 60px;
    border: none;
    padding: 20px;
}
.order_link {
    text-decoration: none;
    color: var(--second-color);
}
.order_text_little {
    color: var(--third-color);
    margin-bottom: 23px;
    font-size: 1rem;
    font-family: "Inter";
    max-width: 301px;
}
.instruction_title{
font-family: "Philosopher";
font-size: 2.3rem;
font-style: italic;
font-weight: 400;
line-height: normal;
margin-bottom: 35px;
}
.instruction_container{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
}
.instruction_subtitle{
    font-family: "Philosopher";
    font-size: 1.8rem;
line-height: normal;
margin-left: 24px;
margin-bottom: 17px;
}
.instruction_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--third-color);
    width: 301px;
    margin: 0px 44px 36px 44px;
    
}
.instruction_icon{
    margin: 48px 100px;
}
.instruction_text{
    margin-left: 28px;
    padding-bottom: 78px;
    font-family: "Inter";
    font-size: 1.8rem;
    width: 259px;
}
.review_title {
    font-family: "Philosopher";
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    margin-left:45px;
    margin-top: 46px;
    margin-bottom: 54px;
}
.review_container{
display: flex;
flex-direction: column;
 padding:18px 0px 40px 18px;
 width: max-content;
 margin: 0px 44px 36px 44px;
}
.review_list{
display: flex;
align-items: center;
justify-content: space-evenly;
margin-bottom: 22px;
}
.review_img {
    width: 89px;
}
.review_subtitle{
width: 110px;
font-family: "Philosopher";
font-size: 2.8rem;
font-weight: 700;
line-height: 100%; 
}

.review_text {
    font-family: "Inter";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.clients_title {
    font-family: "Philosopher";
    font-size: 5.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.clients_container {
    font-family: "Philosopher";
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--third-color);
    width: 140px;
    margin-bottom: 20px;
}

.review_container {
    font-family: "Philosopher";
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--third-color);
    width: 300px;
    margin-bottom:10px;
}

.contacts_title {
    font-family: "Philosopher";
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    background-color:var(--fourth-color);
    margin-left:45px;
    margin-top: 91px;
    margin-bottom:37px;
}

.contacts_icon {}

.footer {
    background-color: #9EAF7C;
    max-width: 390px;
    padding: 34px 47px 73px 51px ;
}


.footer_text {
    font-family: "Philosopher";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 179.182%;
    text-decoration: none;
    color: var(--third-color);
}
.wrapper{
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    padding: 0 1rem;
}