@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
:root {
    --first-color: #212121;
    --second-color: #9EAF7C;
    --third-color: #EAF3FD;
    --fourth-color: #F3F1EC;
    --fifth-color: #C3BEBE;
}
@font-face {
    font-family: "Inter;" "Philosopher";
    src: url(fonts/Inter-Black.ttf) format("ttf");
    src: url(fonts/Philosopher-Italic.ttf) format("ttf");
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body{
max-width: 390px;
}

.about-company,
.about-article,
.about-catalog,
.order,
.instruction,
.review,
.clients {
    background-color: var(--fourth-color);
}

.start-page,
.header {
    background-image:url(../img/background1.png)
}
.header_button{
    background: none;
    border: none;
}

.order {
    background-image:url(../img/background2.png)
}

.start-page_text {
    color: var(--third-color);
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    font-weight: 0rem;
}

.link { 
    font-family: "Inter";
   background-color: #9EAF7C;
   padding: 24px 75px;
   border-radius: 10px;
   text-decoration: none;
   color:var(--third-color);
   font-size: 1.5rem;
}

.start-page_desc {
    font-family: "Inter";
font-weight: 300;
    font-size: 2rem;
    line-height: 5rem;
}

.start-page_icon {
    background-color: #9EAF7C;
    border: 2rem;
    border-radius: 2rem;
}

.about-company_title {

    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
    font-family: 'Philosopher';
    font-style: italic;
}

.about-company_icon {
    border: 1rem;
    border-radius: 4rem;
}

.about-company_subtitle {
    color: var(--second-color);
    font-family: "Philosopher";
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-company>ul>li {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}

.about-company>a {
    display: block;
    text-align: center;
    background-color: #9EAF7C;
}

.about-article_title {
    font-family: "Philosopher";
    font-size: 4rem;
}

.about-article_subtitle {
    font-family: "Philosopher";
    font-size: 3rem;
    line-height: 3rem;
}

.about-article_text {
    font-family: "Inter";
    font-size: 2rem;
}

.about-article_container {
    border-radius: 20px;
    border: 1px solid #C3BEBE;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
}

.about-catalog__title {
    font-family: "Philosopher";
    font-size: 3rem;
}

.about-catalog__icon {
    border-radius: 2rem;
}

.about-catalog>a {
    display: block;
    text-align: center;
    background-color: #9EAF7C;
}

.about-catalog_text {
    font-family: "Philosopher";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
}

.order_title {
    color: var(--third-color);
    font-family: "Inter";
    font-weight: 300;
}

.order_text {
    color: var(--third-color);
    font-family: "Inter";
}

.button_order {}

.instruction_list {
    border-radius: 2rem;
    background-color: var(--fourth-color);
}

.review_title {
    font-family: "Philosopher";
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
}

.review_img {}

.review_text {
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}
.clients_title {
    font-family: "Philosopher";
    font-size: 6rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.clients_icon {}

.contacts_title {
    font-family: "Philosopher";
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.contacts_icon {}

.footer {
    background-color: #9EAF7C;
}

.footer>p {
    font-family: "Philosopher";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 179.182%;
}