:root{
    --first-color: #212121;
    --second-color: #9EAF7C;
    --third-color: #EAF3FD;
    --fourth-color:rgba(68, 66, 55, 0.70);
}
@font-face {
    font-family: "Inter;"; 
    src: url(fonts\Inter-Black.ttf) format("ttf");

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
  }  
header,
.start-page{
    background-image: url("/img/background1.png");
}
.start-page__text{
    color:var(--third-color);
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    font-weight: 0rem; 
}
.start-page > a {
    display: block;
    text-align: center;
    background-color: #9EAF7C;
    border: 3rem;
    border-radius: 1rem;
}
.start-page > ul > li{
font-size: 2rem;
line-height: 5rem

}
.start-page_icon{
background-color: #9EAF7C;
border: 2rem;
border-radius: 2rem;
}
.about-company_title{
    font-size: 3rem;
    font-weight: 700;
}
.about-company > ul > li {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0rem 4rem 0rem;
}
.about-article_title{
  
}
.about-article > ul > li{
}
